@import '../styles/variablesMixins.scss';
.modal {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: white;
    & :global .ant-modal-content {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        .ant-modal-header {
            background: none;
            color: #15BFFD;
            .ant-modal-title {
                color: #15BFFD;
            }
        }
    }
}

.main-container {
    top: 0;
    left: 0;
    font-family: 'Clash Display', sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    top: 10px;
    width: 100vw;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    z-index: 100;
     :hover {
        cursor: pointer;
    }
    div {
        @include centeredFlex;
    }
    &__cart {
        padding: 0;
        width: 54px;
        height: 54px;
        background-color: #15BFFD;
        &:hover {
            @include whiteBoxShadow;
        }
    }
    &__logo {
        margin-right: auto;
        padding: 10px;
        &:hover {
            @include blueBoxShadow;
        }
    }
    & :global .ant-btn {
        justify-self: flex-end;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #15BFFD;
        & .anticon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 60%;
            color: black;
            svg {
                height: 80%;
                width: 80%;
            }
        }
        &:hover {
            @include whiteBoxShadow;
        }
    }
}

.main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 5px;
        height: 0px;
        background-color: #2A3E84;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #15BFFD;
        border-radius: 20px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 4em;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);
    align-self: flex-end;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    div {
        @include centeredFlex;
    }
    &__container {
        padding: 0 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        @include centeredFlex;
        img {
            width: 2em;
            height: 2em;
            &:hover {
                @include whiteBoxShadow;
                border-radius: 10px;
            }
        }
        .contact-icons__container {
            width: 100%;
            display: flex;
            gap: 5px;
        }
    }
}

.effects {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
}

.light-bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #2A3E84;
    filter: blur(70px);
    z-index: 0;
    pointer-events: none;
}

#bubble1 {
    left: -6px;
    top: -25px;
}

#bubble2 {
    left: 50px;
    top: 250px;
}

#bubble3 {
    bottom: 0;
    left: 10vw;
}

#bubble4 {
    top: 80vh;
    left: 70vw;
}

#bubble5 {
    top: -36px;
    left: 80vw;
}

#bubble6 {
    top: 90vh;
}

.star {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#star1 {
    height: 40px;
    width: 40px;
    top: 50vh;
    left: 50vw;
    transform: rotate(25deg);
}

#star2 {
    height: 25px;
    width: 25px;
    left: 40vw;
    top: 10vh;
    transform: rotate(60deg);
}

#star3 {
    left: 10vw;
    top: 55vh;
    transform: rotate(50deg);
}

#star4 {
    height: 30px;
    width: 30px;
    top: 70vh;
    left: 80vw;
    transform: rotate(80deg);
}

#star5 {
    height: 40px;
    width: 40px;
    top: 90vh;
    left: 70vw;
    transform: rotate(20deg);
}

#star6 {
    height: 20px;
    width: 20px;
    top: 50vh;
    left: 80vw;
    transform: rotate(33deg);
}

#star7 {
    top: 2vh;
    left: 3vh;
}